version: 2

updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'cron'
      # Run every Saturday at 00:00.
      cronjob: '0 0 * * 6'
    cooldown:
      default-days: 5
    groups:
      # Group patch and minor version updates in a single pull request.
      patch-and-minor:
        applies-to: 'version-updates'
        update-types:
          - 'minor'
          - 'patch'
    ignore:
      # Do not update @types/node to a new major version automatically.
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'cron'
      # Run every Saturday at 00:00.
      cronjob: '0 0 * * 6'
    cooldown:
      default-days: 5
